@charset 'UTF-8';

/* 전체설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  vertical-align: bottom;
}

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
  /* break-all : 문자 단위로 줄바꿈 - 문자 단위로 줄바꿈
  keep-all : 단어 단위로 줄바꿈 - 단어 단위로 줄바꿈 */
  word-break: keep-all;
}

/* header 설정 ---- */
header {
  position: relative;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../img/hero_website_large.jpg);
  height: 84vh;
  background-size: cover;
  background-position: center top;
  /* overflow: hidden; */
}

header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.4rem 2rem;
}

/* 로고 설정 */
header h1 {
  width: 158px;
  height: 50px;
  background-image: url(../img/logo.png);
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* header-item 설정 */
header .header-item ul {
  display: flex;
  align-items: center;
}

header .login {
  margin-left: 1.8rem;
}

header .login .login-btn {
  padding: 8px 16px;
  background-color: #E50914;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.4rem;
}

header .login .login-btn:hover {
  background-color: #b3070f;
}

/* select 설정 */
select {
  width: 138px;
  height: 32px;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  font-size: 1.4rem;
}

/* hero 영역 ----- */
header .hero {
  overflow: hidden;
  width: 100%;
  height: auto;
  background-color: #E50914;
}

header .hero .container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: #fff;
  text-align: center;
  max-width: 1100px;
  padding: 0 2rem;
}

header .hero .headline {
  font-size: 4.2rem;
  font-weight: 900;
  margin: 0 auto;
}

header .hero .subhead {
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: 1.6rem;
}

.signup {
  margin-top: 2rem;
}

header .hero p {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 1.6rem;
}

.signup-email {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-email input {
  width: 100%;
  max-width: 400px;
  height: 56px;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  padding-left: 1rem;
  color: #fff;
}

.signup-email button {
  width: 100%;
  max-width: 170px;
  height: 56px;
  margin-left: 0.5rem;
  background: #E50914;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 2.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.signup-email button:hover {
  background-color: #b3070f;
}

/* banner 영역 ------ */
.banner {
  width: 100%;
  background: radial-gradient(51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100%);
}

.banner .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.banner .banner-txt {
  color: #fff;
  margin-left: 30px;
}

.banner .banner-txt h4 {
  font-size: 2rem;
}

.banner .banner-txt p {
  font-size: 1.6rem;
  margin: 0.4rem 0 0.8rem;
}

.banner .banner-txt a {
  color: #448EF4;
  font-size: 1.6rem;
}

.banner .banner-txt em {
  text-decoration: underline;
  font-style: normal;
}

/* contents 영역 설정 ----- */
.contents>div {
  background-color: #000;
  color: #fff;
  border-top: 8px solid rgb(43, 43, 43);
  padding: 4.5rem 0;
  position: relative;
}

.contents .title {
  width: 50%;
  text-align: left;
}

.contents .contents-img {
  width: 50%;
}

/* 전체 텍스트 설정 */
.contents .headline {
  font-size: 4.4rem;
  letter-spacing: 0rem;
}

.contents .subhead {
  font-size: 2rem;
  font-weight: 400;
  padding-top: 1.2rem;
}

/* contents-1 */
.contents .contents-1 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 76%;
}

.contents-1 .image-wrap {
  position: relative;
  /* video-wrap에만 z-index: -1을 주면 아예 뒤로 가서 안 보임.
  -> .image-wrap에 z-index: 1을 주고, .video-wrap에 z-index: -1을 주어서
  동영상이 뒤에 가도록 설정하여 해결 */
  z-index: 1;
}

.contents-1 .container img {
  width: 100%;
  z-index: 99;
}

.contents-1 .video-wrap {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -54%);
  max-width: 90%;
  max-height: 56%;
}

.contents-1 .contents-img {
  padding-left: 0.6rem;
}

.contents-1 .video-wrap video {
  width: 100%;
  height: 100%;
}

/* contents-2 */
.contents .contents-2 .container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 76%;
}

.contents-2 .image-wrap {
  position: relative;
  z-index: 1;
}

.contents-2 .container img {
  width: 100%;
  z-index: 99;
}

.contents-2 .video-wrap {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -81%);
  max-width: 64%;
  max-height: 50%;
}

.contents-2 .contents-img {
  padding-right: 0.6rem;
}

.contents-2 .video-wrap video {
  width: 100%;
  height: 100%;
}

/* contents-3 */
.contents .contents-3 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 76%;
}

.contents-3 .image-wrap {
  position: relative;
}

.contents-3 .container img {
  width: 100%;
}

.contents-3 .contents-img {
  padding-left: 0.6rem;
}

/* contents-4 */
.contents .contents-4 .container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 76%;
}

.contents-4 .image-wrap {
  position: relative;
}

.contents-4 .container img {
  width: 100%;
}

.contents-4 .contents-img {
  padding-right: 0.6rem;
}

.card-animaion {
  width: 54%;
  height: auto;
  border: 1px solid #fff;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.7rem;
  background-color: #000;
}

.card-animaion .image-wrap {
  width: 50px;
  height: 70px;
}

.card-animaion img {
  width: 100%;
  height: 100%;
}

.card-animaion .txt {
  width: 40%;
  text-align: left;
}

.card-animaion .txt p {
  font-size: 1.6rem;
}

.card-animaion .txt span {
  font-size: 1.4rem;
  color: #0071EB;
}

.animaion {
  width: 40px;
  height: 40px;
  background-image: url(../img/download-icon.gif);
  background-size: cover;
}

/* "contents-5 */
.contents-5 .headline {
  padding-bottom: 1.8rem;
  text-align: center;
}

.contents .contents-5 .container {
  margin: 0 auto;
  max-width: 76%;
}

.question-list {
  margin-bottom: 0.3rem;
}

.question-headline {
  background-color: rgb(45, 45, 45);
  padding: 2rem;
  cursor: pointer;
  position: relative;
  width: 100%;
  text-align: left;
  color: #fff;
  border: 0;
  transition: all 0.3s;
  font-size: 2.4rem;
}

.question-headline:hover {
  background-color: rgb(66, 66, 66);
}

.question-headline:before {
  content: '+';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font-size: 1.5rem;
  font-size: 3.4rem;
}

.question-list.active .question-headline:before {
  content: 'x';
  font-size: 3rem;
}

.question-txt {
  padding: 1.5rem;
  font-size: 2.4rem;
  background-color: rgb(45, 45, 45);
}

.question-txt p:nth-child(1) {
  margin-bottom: 2rem;
}

.question-list a {
  color: #fff;
  text-decoration: underline;
}

.contents-5 .signup-wrap {
  width: 100%;
  margin-top: 3.8rem;
}

.contents-5 .signup-wrap p {
  text-align: center;
  font-size: 2rem;
}

/* 푸터 영역 */
footer {
  background-color: #000;
  color: rgba(255, 255, 255, 0.7);
  border-top: 8px solid rgb(43, 43, 43);
  padding: 4.5rem 0;
  position: relative;
}

footer .container {
  margin: 0 auto;
  max-width: 76%;
}

footer .phoneNmbr {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

footer .phoneNmbr a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: underline;
}

.footer-item {
  width: 100%;
}

.footer-item-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: #0071EB; */
}

.footer-item-list li {
  /* flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0; */
  flex: 0 0 24%;
  margin-top: 1rem;
  margin-left: 0.7rem;
  /* background-color: #E50914; */
}

.footer-item-list li a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.4rem;
  text-decoration: underline;
}

.footer-language {
  margin: 2rem 0;
}

.footer-txt span {
  font-size: 1.4rem;
}

.footer-txt p {
  margin-top: 2.8rem;
  font-size: 1.2rem;
}

.footer-txt a {
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 960px) {
  /* 로고설정 */
  header h1 {
    width: 99px;
    height: 34px;
    background-image: url(../img/logo.png);
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  /* hero 영역 */
  header .hero .headline {
    font-size: 3.2rem;
  }
  
  header .hero .subhead {
    font-size: 1.8rem;
  }
  
  header .hero p {
    font-size: 1.8rem;
  }

  .contents .contents-1 .container,
  .contents .contents-3 .container,
  .contents .contents-5 .container   {
    flex-direction: column;
    max-width: 90%;
  }

  .contents .contents-2 .container {
    flex-direction: column;
    max-width: 90%;
  }

  .contents .contents-4 .container {
    flex-direction: column;
    max-width: 90%;
  }

  .contents .title {
    width: 100%;
    text-align: center;
  }

  .contents .contents-img {
    width: 100%;
  }

  /* 전체 텍스트 설정 */
  .contents .headline {
    font-size: 2.8rem;
    letter-spacing: 0rem;
  }

  .contents .subhead {
    font-size: 1.8rem;
    font-weight: 400;
    padding-top: 1.2rem;
  }

  /* contents-5 */
  .question-list {
    margin-bottom: 0.3rem;
  }
  
  .question-headline {
    font-size: 1.8rem;
    font-weight: 400;
  }
  
  .question-headline:before {
    font-size: 3rem;
  }
  
  .question-list.active .question-headline:before {
    font-size: 2.6rem;
  }
  
  .question-txt {
    font-size: 1.8rem;
  }
  
  /* 푸터 영역 */
  footer .container {
    flex-direction: column;
    max-width: 90%;
  }

  .footer-item-list li {
    flex: 0 0 44%;
  }
}